{% extends "theme.html" %}
{% load staticfiles %}

{% block style %}
<link href="https://openweathermap.org/themes/openweathermap/assets/css/weather_widget.943990f1f6f20303edb5.css" rel="stylesheet">
<link href="https://openweathermap.org/themes/openweathermap/assets/css/weather_widget_styles.943990f1f6f20303edb5.css" rel="stylesheet">
{% endblock style %}

{% block content %}

  <body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts.min.js" integrity="sha256-/2RfzVRD5Kjl526BsoU3rT7W5CMTMOJ5xYz6yfUjj7Q=" crossorigin="anonymous"></script>
  <script src="{% static "js/macarons.js" %}"></script>

    <section class="jumbotron text-center" style=" background-image:url({% static "images/bg2.jpg"%}); background-size:cover;">
      <div class="container" style="height:100%; width:100%;" >
          <h1 class="jumbotron-heading">Weather</h1>
        <p class="lead" style="color: #ffffff"><b>Weather forecasts with chart and notifications</b></p>
      </div>
    </section>

    <div class="container-fluid">
        <div class="row text-center">
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <h5 style="color: #000000">Notifications (e.g. zgong5@stevens.edu)</h5>
              <h6 style="color: #000000">Notify when temperature below 45&deg F</h6>
              <form method="get" class='form-inline'>
                {% csrf_token %}
                <div class="col-md-4"></div>
                <input type="text"  name="em" class='form-control' placeholder="Enter Email ...">
                <input type="submit" value="Alert" class='btn btn-danger'>
              </form><br>
              <h5 style="color: #000000">Weather forecast (e.g. Hoboken)</h5>
              <form method="post" class='form-inline'>
                {% csrf_token %}
                <div class="col-md-4"></div>
                <input type="text"  name="c" class='form-control' placeholder="Enter City ...">
                <input type="submit" value="Search" class='btn btn-info'>
              </form><br>
            {% if map %}
            <iframe height=200 width =100% src="{{map}}"></iframe>
            {% endif%}
          {% if not cur %}
              <h5 style="color: #e8651e">Current Weather (Example)</h5>
              <span align=left> <img src="http://www.openweathermap.org/img/w/50n.png" alt=""> </span>
              <strong> <h3 style='display:inline'>Hoboken</h3></strong>
              <h4 style="color: #38a3d4">2019-03-01 21:46:26</h4>
              <span>43.23 &deg F | </span>
              <span><strong>mist</strong></span>
              <h5>Clouds: 68 %</h5>
          {% endif %}
          {% for i in cur %}
              <h3 style="color: #e8651e">Current Weather</h3>
              <span align=left> <img src="{{i.i}}" alt=""></span>
              <strong> <h3 style='display:inline'>{{i.name}}</h3></strong>
              <h4 style="color:{{color}}">{{i.dt}}</h4>
              <span>{{i.ab}} &deg F | </span>
              <span><strong>{{i.ds}}</strong></span>
              <h5>Clouds: {{i.cl}} %</h5>
          {% endfor %}
          </div>
        <div class="col-md-3"></div>
        </div>

        <div class="row text-center">
        <div class="col-md-3"></div>
        {% if a_list %}
        <div class="col-md-6" id="main" style="width: 600px;height:400px;"></div>
        {% endif %}

        <div class="col-md-3"></div>
        </div>

        <div class="row text-center">
          {% if e %}
          <div class="col-md-3"> </div>
          <div class="col-md-6">
          <h1 class='alert alert-danger'>{{e}}</h1>
          </div>
          <div class="col-md-3"></div>
          {% endif %}
          {% if a_list %}
            <div class="col-md-3"></div>
            <div class="col-md-6">
            <h3 class="weather-forecast-hourly-list__header" style="color: #e8651e">Hourly weather and forecasts</h3>
            <table class="weather-forecast-hourly-list__table">
              <tbody>
              <tr class="weather-forecast-hourly-list__items">
                <td class="weather-forecast-hourly-list__item">
                  <table class="weather-forecast-hourly-list__sub-table">
                    <tbody>
                    {% for i in a_list %}
                    <tr class="weather-forecast-hourly-list__items">
                      <td class="weather-forecast-hourly-list__sub-item">{{i.dt}}
                        <img src="{{i.i}}" alt="forecast"></td>
                      <td class="weather-forecast-hourly-list__sub-item">
                        <span class="weather-forecast-hourly-list__night">{{i.ab}} &deg F</span>
                        &nbsp;&nbsp;
                        <i class="weather-forecast-hourly-list__naturalPhenomenon">{{i.ds}}</i>
                        <h5>Clouds: {{i.cl}} %</h5>
                      </td>
                    </tr></tbody>
                      {% endfor %}
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
            </div>
            <div class="col-md-3"></div>
          {% endif %}
        </div>
      </div>
  </body>

{% endblock content %}

{% block scripts %}

  <script type="text/javascript">
      var myChart = echarts.init(document.getElementById('main'), 'macarons');
      var datetime=[{% for item in a_list %}"{{item.dt}}",{% endfor %}];
      var temp=[{% for item in a_list %}"{{item.ab}}",{% endfor %}];
      console.log(datetime)
      var option = {
          title : {
              text: 'Visualization',
              subtext: 'Chart'
          },
          tooltip : {
              trigger: 'axis'
          },
          legend: {
              data:['Temperature']
          },
          toolbox: {
              show : true,
              feature : {
                  mark : {show: true},
                  dataView : {show: true, readOnly: false},
                  magicType : {show: true, type: ['line', 'bar']},
                  restore : {show: true},
                  saveAsImage : {show: true}
              }
          },
          calculable : true,
          xAxis : [
              {
                  type : 'category',
                  boundaryGap : false,
                  data : datetime,
              }
          ],
          yAxis : [
              {
                  type : 'value',
                  axisLabel : {
                      formatter: '{value} °F  '
                  }
              }
          ],
          series : [
              {
                  name:'Temperature',
                  type:'line',
                  data: temp,
                  markPoint : {
                      data : [
                          {type : 'max', name: 'Max Value'},
                          {type : 'min', name: 'Min Value'}
                      ]
                  },
                  markLine : {
                      data : [
                          {type : 'average', name: 'Average'}
                      ]
                  }
              },
          ]
      };
      myChart.setOption(option);
  </script>

{% endblock scripts %}
